<h1></h1>
<div class="container">
    <p><b>Titulo 8</b></p>
    <p>Subido por Usuario X</p>

    <div class="col-md-4">
        <img style="width: 80%;  height: 200px;" src="~/img/dleon.jpg" alt="">
    </div>
    <hr>

    <div class="form-group">
        <label for="">Escriba un comentario</label>
        <input type="textArea">
    </div>
    

    <button class="btn btn-success">Enviar comentario</button>

    <hr>

    <label for="">Comentarios anterioires</label>

    <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus minima repudiandae ut ipsam soluta! Fugit, hic. Eos fugiat, recusandae necessitatibus, labore assumenda aperiam molestiae sit minus doloremque iure voluptatem deserunt.
    </p>

    
</div>