@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <p>Titulo 8</p>
    <p>Subido por Usuario X</p>

    <a asp-area="" asp-controller="Home" asp-action="Details">
        <div class="col-md-4">
        <img style="width: 80%;  height: 200px;" src="img/dleon.jpg" alt="">
    </div>
    </a>
    
    <hr>
    
</div>
